<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="static/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />

    <title>ChatterBot - Anderson Rocha</title>
  </head>
  <body>
    <div class="content-wrapper">
      <header><h1>ChatterBot - Anderson Rocha</h1></header>

      <main>
        <div class="box-wrapper">
          <div class="messages-box"></div>

          <div class="message-control">
            <form data-js="message-form">
              <input
                type="text"
                name="message"
                placeholder="Digite uma mensagem..."
                autocomplete="off"
              />
              <button>Enviar</button>
            </form>
          </div>
        </div>
      </main>
    </div>

    <script src="static/index.js"></script>
  </body>
</html>
